@media only screen and (max-width: 1036px) {
  .login-form {
    padding: 20px 0px 20px 10px !important;
  }

  .login-button {
    padding: 20px 0px 20px 10px !important;
  }

  .login-input-group {
    margin-bottom: 50px !important;
  }

  .login-container {
    padding: 160px 80px !important;
  }
}

@media only screen and (min-width: 1036px) {
  .login-form {
  }

  .login-button {
  }

  .login-input-group {
    margin-bottom: 10px !important;
  }
}
