.marquee-container {
  height: 50px;
  overflow: hidden;
  line-height: 30px;
  background: rgba(217, 217, 217, 0.25);
  font-family: 'Gotham';

  .marquee {
    margin-top: 10px;
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
}
